aniso8601==9.0.1
attrs==24.2.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cors==1.0.1
distlib==0.3.8
filelock==3.15.4
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
JsonForm==0.0.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
JsonSir==0.0.2
MarkupSafe==2.1.5
platformdirs==4.2.2
PySocks==1.7.1
Python-EasyConfig==0.1.7
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
requests-file==2.1.0
Resource==0.2.1
rpds-py==0.20.0
schema==0.7.7
six==1.16.0
SQLAlchemy==2.0.34
tldextract==5.1.2
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
Werkzeug==3.0.3
zope.event==5.0
zope.interface==7.0.3
Werkzeug==3.0.4
Flask-JWT-Extended==4.6.0

Flask-Cors~=5.0.0
Flask-RESTful~=0.3.10
